@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ChakraPetch";
  src: url("/fonts/ChakraPetch-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: chakrasemibold;
  src: url("/fonts/ChakraPetch-SemiBold.ttf");
}