@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ChakraPetch";
  src: url("/fonts/ChakraPetch-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: chakrasemibold;
  src: url("/fonts/ChakraPetch-SemiBold.ttf");
}

@font-face {
  font-family: Exo;
  src: url("/fonts/Exo-Regular.otf");
}

@font-face {
  font-family: Urbanist;
  src: url("/fonts/Urbanist-Regular.otf");
}

/* Custom dark scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(8, 62, 210, 0.6); /* #083ED2 */
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(8, 62, 210, 0.9);
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(8, 62, 210, 0.6) transparent;
}
